body{
     background-color:darkblue;
}

h1{
    color:lightblue;
    text-align:center;
    font-size:300%;
}

h2{
    color:orangered;
    text-align:center;
    font-size:200%;
    padding:10px
}

h3{
     color:cadetblue;text-align:center;font-size:150%
}

h4{
    color:red;text-align:center;font-size:150%
}

p.redpara{
     color:red;text-align:center;font-size:105%
}

p.palepara{
     color:palevioletred;
}

p.crimsonpara{
     color:crimson;
}

img.small{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
     width:150px;height:140px;
}
img.space{
    padding:10px;
}

img.games{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    width:300px
}

img.start{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
    width:500px
}